
    body {
        font-family:sans-serif;
    }

    .phpcoding {
        width: 900px;
        margin: 0 auto;
        background:#ffffff ;
    }

    .headeroption,
    .footeroption {
        background:#f9f9f9;
        color: #360056;
   
        text-align: center;
        padding: 20px;
    }

    .headeroption h2,
    .footeroption h2 {
        margin: 0;
        font-size: 24px
    }

 

    p {
        margin: 0
    }

    input[type="text"] {
        width: 238px;
        padding: 5px;
    }

    select {
        font-size: 18px;
        padding: 2px 5px;
        width: 250px;
    }

    .tblone {
        width: 100%;
        border: 1px solid #fff;
        margin: 20px 0
    }

    .tblone td {
        padding: 5px 10px;
        text-align: center;
    }

    table.tblone tr:nth-child(2n+1) {
        background: #fff;
        height: 30px;
    }

    table.tblone tr:nth-child(2n) {
        background: #f1f1f1;
        height: 30px;
    }

    #myform {
        width: 400px;
        border: 1px solid #fff;
        padding: 10px;
    }

    .phpcoding a{
        color: black;
        text-decoration: none;
    }

    a:hover {
        color: #00f925;
    }
    /* creat page css */

    .phpcoding {
        width: 900px;
        margin: 0 auto;
        background:#ddd;
    }

    .headeroption,
    .footeroption {
        background:#eff1d2;
        color:#000000;
        text-align: center;
        padding: 20px;
    }

    .headeroption h2,
    .footeroption h2 {
        margin: 0;
        font-size: 24px
    }

    
    p {
        margin: 0
    }

    input[type="text"] {
        width: 238px;
        padding: 5px;
    }

    select {
        font-size: 18px;
        padding: 2px 5px;
        width: 250px;
    }

    .tblone {
        width: 100%;
        border: 1px solid #fff;
        margin: 20px 0
    }

    .tblone td {
        padding: 5px 10px;
        text-align: center;
    }

    table.tblone tr:nth-child(2n+1) {
        background: #fff;
        height: 30px;
    }

    table.tblone tr:nth-child(2n) {
        background: #f1f1f1;
        height: 30px;
    }

    #myform {
        width: 400px;
        border: 1px solid #fff;
        padding: 10px;
    }
  
